.table {
    color: #000;
    display: flex;


    &_arrow {
        width: 16px;

        &-open {
            transform: rotate(-180deg);
            -ms-transform: rotate(-1800deg);
            -webkit-transform: rotate(-180deg);
        }
    }
    &_token {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 130px;

        &__icon {
            height: 32px;
            width: 32px;
        }

        &__ticker {
            font-size: 24px;
            font-family: "Inter-Regular";
            padding: 0;
            margin: 0;
            margin-left: 5px;
        }
    }

    &_meta {
        font-size: 14px;
        font-family: "Inter-Regular";
        color: #717781;
        padding: 0;
        margin: 0;
    }

    &_meta-number {
        font-size: 18px;
        font-family: "Inter-Medium";
        padding: 0;
        margin: 0;
        min-width: 50px;
    }

    tbody {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;

        tr {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
        }

        td {
            display: flex;
            flex-direction: column;
        }
    }
}

.row_expanded {
    display: flex;

    td {
        width: 100%;
    }
    &__line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-center {
            margin-top: 20px;
            justify-content: center;
        }
    }
}