.table {
    color: #000;
    display: flex;

    &_token {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90px;

        &__icon {
            height: 32px;
            width: 32px;
        }

        &__ticker {
            font-size: 24px;
            font-family: "Inter-Regular";
            padding: 0;
            margin: 0;
            margin-left: 5px;
        }
    }

    &_meta {
        font-size: 14px;
        font-family: "Inter-Regular";
        color: #717781;
        padding: 0;
        margin: 0;
    }

    &_meta-number {
        font-size: 18px;
        font-family: "Inter-Medium";
        padding: 0;
        margin: 0;
    }

    tbody {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;

        tr {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
        }

        td {
            display: flex;
            flex-direction: column;
        }
    }
}