@font-face {
	font-family: 'Inter-SemiBold'; 
	src: url(../fonts/Inter/Inter-SemiBold.ttf); 
}

@font-face {
	font-family: 'gt-haptik-regular'; 
	src: url(../fonts/GT-Haptik/gt-haptik-regular-webfont.ttf); 
}

html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    
}