.account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: 100%;

    &_recieved {
        margin-bottom: 30px;
    }
    &_main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &__info {
            display: flex;
            flex-direction: column;

            p {
                font-size: 18px;
                color: #000;
                font-family: "Inter-Medium";
            }
        }

        &__buttons {
            display: flex;

        }

        
    }

    &_poolSelector {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__input {
            font-size: 18px;
            font-family: "Inter-Medium";
            border: none;
            outline: none;
        }
    }
}

.tooltip {
	// width: 96px;
	// height: 80px;
    padding: 10px;
    border-radius: 10px;
	position: absolute;
	display: none;
	// padding: 8px;
	box-sizing: border-box;
	color: #131722;
	background-color: rgba(255, 255, 255, 1);
	z-index: 3;
    color: #000;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    &_container {
        justify-content: space-between;
    }
    &_title {
        font-family: "Inter-Medium";
        font-size: 16px;
    }

    &_chance {
        font-family: "Inter-Medium";
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &_date {
        font-family: "Inter-Regular";
        font-size: 12px;
    }
}

.chart {
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: -50px;
    overflow: hidden;
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
    
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    
}

/* Landscape phones and portrait tablets */
@media (max-width: 882px) {
    .account {
        margin-top: 0px;

        &_main {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__buttons {
                margin-top: 20px;
            }
        }

        &_text {
            text-align: center;
        }

        &_poolSelector {
            justify-content: center;
        }
    }

    .container {
        
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}