.pools {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: 100%;
    // padding: 50px;

    &_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        // align-items: center;
        background-color: #fff;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        width: 82%;
        height: 100%;
        padding: 50px;
        min-height: calc(100vh - 248px);

        &-shadow {
            // opacity: 0.7;
            // pointer-events: none;
            cursor: default;
            -webkit-animation-name: shadowIn;
            animation-name: shadowIn;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-delay: 0.4s;
            -moz-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        @-webkit-keyframes shadowIn {
            from {
              opacity: 1;
            }
          
            to {
                opacity: 0.6;
            }
        }
        
        @keyframes shadowIn {
            from {
                opacity: 1;
            }
        
            to {
                opacity: 0.6;
            }
        }

        
        @-webkit-keyframes shadowOut {
            from {
              opacity: 0.6;
              
            }
          
            to {
              opacity: 1;
            }
        }
        
        @keyframes shadowOut {
            from {
                opacity: 0.6;
            }
        
            to {
                opacity: 1;
            }
        }
          
        &-shadowOut {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-delay: 0.4s;
            -moz-animation-delay: 0.4s;
            animation-delay: 0.4s;
            -webkit-animation-name: shadowOut;
            animation-name: shadowOut;
        }

        &__title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            h1 {
                font-size: 48px;
                font-family: "GT Haptik Regular";
                padding: 0;
                margin: 0;
                color: #000;
            }

            img {
                height: 37px;
                cursor: pointer;
            }

            img:hover {
                opacity: 0.7;
                transform: translate3d(2px, 2px, 10px);
            }
            
        }

    }
}